body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

header {
    background: #111;
    color: white;
    padding: 40px;
    text-align: center;
}

.content {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: white;
    margin-top: -30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

footer {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}
